// Greyscale
$color-empty: white;
$color-raw: #f8f8f8;
$color-raw-alt: #f2f2f2;
$color-rare: #eee;
$color-medium-rare: #ccc;
$color-medium: #aaa;
$color-medium-well: #666;
$color-well: #555;
$color-full: #333;

// Core
$color-primary: #541217; // blood orange
$color-secondary: #c69c6d; //
$color-tertiary: #999; //
$color-warn: #d83e14; //
