<app-header *ngIf="activity" [show]="false" [title]="activity.activeAction.activename"
            [rightNav]="'share'"></app-header>
<app-content *ngIf="activity" [paddingFooter]="true" [paddingHeader]="false" [monitor]="'scroll'">
  <div class="banner">
    <swiper [config]="config" [index]="1" fxFlex="auto">
          <span class="img-box swiper-slide" *ngFor="let img of imgs">
            <img src="{{img}}">
          </span>
    </swiper>
  </div>

  <div *ngIf="activity.activeTeamInfo.length > 0" class="group">
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">还差人{{3 - activity.activeTeamInfo.length}}成团</div>
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text">
          <p class="weui-media-box__desc">分享到多个微信群后，成团率更高哦~</p>
          <div class="weui-media-box__desc">
            <ul class="avatars">
              <li class="avatar" *ngFor="let item of activity.activeTeamInfo">
                <img src="{{'/api/' + item.faceimg}}">
              </li>
              <li class="avatar" *ngIf="activity.activeTeamInfo.length < 2">
                ?
              </li>
              <li class="avatar" *ngIf="activity.activeTeamInfo.length < 3">
                ?
              </li>
            </ul>
          </div>
          <div class="button-sp-area">
            <a *ngIf="activity?.activeTeamInfo.length < 3 && isOwner" (click)="onShare()" href="javascript:;" class="weui-btn weui-btn_block weui-btn_primary">邀请好友</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <article class="weui-article" [innerHTML]="activity?.activeAction.detail"></article>
</app-content>
<app-footer-btn *ngIf="activity?.activeTeamInfo.length < 1" [loading]="loading" [title]="isOwner ? '我要开团' : '我要加入'"
                (clicked)="onClick($event)"></app-footer-btn>
<!--<app-footer></app-footer>-->
