.order {
  .weui-panel__hd {
    font-size: 0.14rem;
    line-height: 0.2rem;
    color: #333;

    img, span {
      display: inline-block;
      vertical-align: middle;
      height: 0.2rem;
    }

    img {
      width: 0.4rem;
      margin-right: 0.08rem;
    }
  }
}


.order-list {
  .weui-panel__hd {
    font-weight: normal;
    font-size: 0.12rem;
    color: #ababab;
  }
  .weui-media-box__title {
    color: #a9825e;
    font-size: 0.17rem;
  }

  .weui-media-box__desc {
    font-size: 0.16rem;
    color: #9a9a9a;
    .money {
      color: #9a9a9a;
      margin-right: 0.05rem;
      font-size: 0.18rem;
    }
  }
}
.weui-badge{
  background: #9d7242;
  width: 0.6rem;
  height: 0.2rem;
  display: block;
  text-align: center;
  font-size: 0.14rem;
  margin-right: 0.2rem;
}
