<app-header [className]="''" [show]="true" [title]="'我的订单'"></app-header>
<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
  <div class="order weui-panel weui-panel_access" style="margin-top: 0">
    <div class="weui-panel__bd">
      <div class="weui-media-box">
        <div class="order-status weui-flex">
          <div [routerLink]="['/admin/order/list']" [queryParams]="{status: 0}" class="weui-flex__item">
            <div class="weui-grid__icon">
              <img src="/assets/images/home/waiting.png">
            </div>
            <p class="weui-grid__label">待付款</p>
          </div>
          <div [routerLink]="['/admin/order/list']" [queryParams]="{status: 1}" class="weui-flex__item">
            <div class="weui-grid__icon">
              <img src="/assets/images/home/shipped.png">
            </div>
            <p class="weui-grid__label">待发货</p>
          </div>
          <div [routerLink]="['/admin/order/list']" [queryParams]="{status: 2}" class="weui-flex__item">
            <div class="weui-grid__icon">
              <img src="/assets/images/home/arrived.png">
            </div>
            <p class="weui-grid__label">待收货</p>
          </div>
          <div [routerLink]="['/admin/order/list']" [queryParams]="{status: 3}" class="weui-flex__item">
            <div class="weui-grid__icon">
              <img src="/assets/images/home/finished.png">
            </div>
            <p class="weui-grid__label">已完成</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-msg *ngIf="orders.length === 0" (event)="onCancel($event)"
           [msg]='{title:"",desc:"您还没有任何记录!~～",cancel:"返回",icon:"/assets/images/icons/empty-cart.png"}'></app-msg>
  <div  *ngFor="let order of orders" class="order-list weui-panel">
    <div class="weui-panel__hd"><p>订单号：{{order.orderno}}</p>
      <p>下单时间： {{order.date | date : 'yyyy/MM/dd HH:mm:ss'}}</p></div>
    <div class="weui-panel__bd">
      <div [routerLink]="['/admin/order/item',item.orderno]" *ngFor="let item of order.goods"
        class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img class="weui-media-box__thumb" src="{{'/api/wine' + item.productimg}}">
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{item.productname}}
            <span class="right">
              <span  *ngIf="order?.status === 0" style="color: #fa0402">待付款</span>
              <span *ngIf="order?.status === 1" style="color: #f86c05">待发货</span>
              <span  *ngIf="order?.status === 3" style="color: #4fab55">已完成</span>
          </span>
          </h4>
          <p class="weui-media-box__desc" style="margin-top: 0.05rem"><em class="money"><i
            class="rmb"></i><span>{{item.buymoney}}.00</span><i
            class="decimal"></i></em><span class="units">元</span></p>
          <p class="weui-media-box__desc">数量: x{{item.buycount}}</p>
          <!--<span class="stock">(库存：{{item.stock}}件)</span>-->
        </div>
      </div>
    </div>
    <div class="weui-panel__ft" *ngIf="order?.status === 2">
      <span class="weui-badge right" (click)="receive(order.orderno)">确认收获</span>
    </div>
  </div>
  <div class="space"></div>
</weui-infiniteloader>
<app-footer></app-footer>
