<app-header [className]="''" [leftNav]="''" [show]="true" [title]="'系统维护'"></app-header>
<div class="weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">该目录被限制访问</h2>
    <p class="weui-msg__desc">该目录被限制访问！如有疑问，请联系微信客服。</p>
  </div>
  <!--<div class="weui-msg__extra-area">
    <div class="weui-footer">
      <p class="weui-footer__links">
        <a href="javascript:void(0);" class="weui-footer__link">{{sysConfig?.saitname}}</a>
      </p>
      <p class="weui-footer__text">Copyright © 2008-2018 {{config.webHost}}</p>
    </div>
  </div>-->
</div>
