<app-header [className]="'scroll'" [show]="true" [title]="'佣金提现'"></app-header>
<div  class="weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon_msg"><img src="/assets/images/withdraw/icon.png"></i></div>
  <div class="weui-msg__text-area">
    <p class="weui-msg__title">可提现佣金</p>
    <h2 class="weui-msg__desc"><em class="money"><i class="rmb">￥</i><span>{{user?.amountBalance}}</span></em></h2>
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a routerLink="/admin/finance/withdraw" class="weui-btn weui-btn_primary">微信提现</a>
      <a routerLink="/admin/finance/records" class="weui-btn weui-btn_default">提现记录</a>
    </p>
  </div>
</div>
<app-footer></app-footer>
