.weui-cell_link {
  color: #541217;
  font-size: 0.12rem;
}

.weui-media-box__bd {

}

.weui-media-box__ft {
  padding-left: 0.13rem;
  font-size: 0.16rem;
  color: #999;
}

.weui-media-box__title {
  font-size: 0.12rem;
}

.weui-media-box__desc {
  font-size: 0.12rem;
  color: #bb9772;
  .money {
    margin-right: 0.05rem;
  }
}

.stock {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.1rem;
  color: #999;
  font-size: 0.12rem;
  line-height: 0.2rem;
}
