<app-header [className]="''" [leftNav]="'back'" [show]="true" [title]="'会员中心'" [rightNav]="'custom'" [custom]="'清空'"
            (onCustom)="onCustom($event)"></app-header>
<app-content [paddingHeader]="true" [paddingFooter]="true" [monitor]="'scroll'">
  <div *ngFor="let item of items" class="weui-panel">
    <div class="weui-panel__bd">
      <div href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img class="weui-media-box__thumb" src="{{'/api' + item.headimage}}">
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{item.productname}}</h4>
          <p class="weui-media-box__desc"><em class="money"><i class="rmb">￥</i><span>{{item.price}}</span><i
            class="decimal">.00</i></em><span class="units">/{{item.count}}{{item.unit}}</span></p>
          <weui-stepper [(ngModel)]="item.product_num" (ngModelChange)="numChange(item,$event)" [min]="1"
                        [max]="10"></weui-stepper>
          <!--<span class="stock">(库存：{{item.stock}}件)</span>-->
        </div>
        <div class="weui-media-box__ft">
          <i class="icon-trash"></i>
        </div>
      </div>
    </div>
    <div class="weui-panel__ft">
      <div class="weui-cell weui-cell_access weui-cell_link">
        <div class="weui-cell__bd"><input class="weui-input" type="text" [(ngModel)]="item.remark" placeholder="请输入祝福语">
        </div>
        <span (click)="show($event,item)" class="weui-cell__ft">{{item.remark ? item.remark : '选择祝福语'}}选择祝福语</span>
      </div>
    </div>
  </div>
  <div class="space"></div>
  <!--<div class="total">
    <a href="javascript:void(0);" class="weui-cell weui-cell_link">
      <div class="weui-cell__bd">共：3件商品</div>
      <span class="weui-cell__ft"><em class="money"><i class="rmb">￥</i><span>300</span><i class="deci">.00</i></em></span>
    </a>
  </div>-->
  <!--<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:">立即支付</a>
  </div>-->
</app-content>
<div class="btns-group animated" [ngClass]="{'slideOutDown':direction === 'down','slideInUp':direction === 'up'}">
  <span *ngIf="items" class="num animated"
        [ngClass]="{'fadeOut':direction === 'down','fadeIn':direction === 'up'}"><em>共计：{{items.length}}件商品</em></span>
  <div class="total">
    <span class="label">应付合计：</span>
    <em class="amount">￥{{total}}.00</em>
  </div>
  <a routerLink="/admin/checkout" class="btn-primary">结算</a>
</div>
<app-footer></app-footer>
