<app-header [className]="''" [leftNav]="'back'" [show]="true" [title]="'我的购物车'" [rightNav]="'custom'" [custom]="'清空'"
            (onCustom)="onCustom($event)"></app-header>
<app-content [paddingHeader]="true" [paddingFooter]="true" [monitor]="'scroll'">
  <app-msg *ngIf="items.length === 0" (event)="onCancel()"
           [msg]='{title:"",desc:"您还没有任何记录!~～",cancel:"返回",icon:"/assets/images/icons/empty-cart.png"}'></app-msg>
  <div *ngFor="let item of items" class="weui-panel">
    <div class="weui-panel__bd">
      <div href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img class="weui-media-box__thumb" src="{{'/api' + item.headimage}}">
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{item.productname}}</h4>
          <span class="right" (click)="remove(item.id)"><img src="/assets/images/home/trash.png" height="20"
                                                             width="20"/></span>
          <p class="weui-media-box__desc"><em class="money">{{item.productprice}}.00</em><span
            class="units">元/瓶</span></p>
          <p class="weui-media-box__desc">
            <span class="num">数 量：</span>
            <weui-stepper [(ngModel)]="item.product_num" (ngModelChange)="numChange(item,$event)" [min]="1"
                          [max]="10"></weui-stepper>
            <!--<span class="stock">(库存：100件)</span>-->
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="space"></div>
</app-content>
<div class="btns-group animated" [ngClass]="{'slideOutDown':direction === 'down','slideInUp':direction === 'up'}">
  <span *ngIf="items" class="num animated"
        [ngClass]="{'fadeOut':direction === 'down','fadeIn':direction === 'up'}"><em>共计：{{items.length}}件商品</em></span>
  <div class="total">
    <span class="label">应付合计：</span>
    <em class="amount" [innerHTML]="total | rmb"></em>
  </div>
  <a class="btn-primary" (click)="returnToCheckOut()" [ngClass]="{'disabled': !items.length}">结算</a>
</div>
<app-footer></app-footer>
