<app-header className="''" [show]="true" [title]="'佣金列表'"></app-header>
<app-content [paddingHeader]="true" [paddingFooter]="true">
  <app-admin-marketing-commission></app-admin-marketing-commission>

      <div class="content">
        <app-msg *ngIf="list.length === 0"
                 [msg]='{title:"",desc:"您还没有任何佣金记录!~～",cancel:"",icon:"/assets/images/icons/empty.png"}'></app-msg>
        <table cellpadding="0" cellspacing="0" border="0" *ngIf="list.length>0">
          <thead>
          <tr>
            <th class="grade">用户名称</th>
            <th class="num">购买时间</th>
            <th class="consumption">获得佣金</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of list">
            <td class="grade">{{item.username}}</td>
            <td class="num">{{item.date | date : 'yyyy/MM/dd HH:mm:ss'}}</td>
            <td class="consumption">￥{{item.commission}}.00</td>
          </tr>
          </tbody>
        </table>
      </div>

</app-content>
<app-footer></app-footer>

