<app-header className="scroll" [show]="true" [title]="'清理缓存'"></app-header>
<app-content [paddingFooter]="true" [paddingHeader]="true" [monitor]="'scroll'">
  <div class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        userId
      </div>
      <div class="weui-cell__ft">{{accessToken.id}}</div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        key
      </div>
      <div class="weui-cell__ft">{{accessToken.key}}</div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        openid
      </div>
      <div class="weui-cell__ft">{{accessToken.openid}}</div>
    </div>
  </div>

  <div class="weui-btn-area">
    <button weui-button class="weui-btn weui-btn_primary" (click)="authSvc.logout()">清理缓存
    </button>
  </div>
</app-content>
<app-footer></app-footer>
