<app-header [className]="''" [show]="true" [title]="'我的订单'"></app-header>
<app-content [paddingHeader]="true" [paddingFooter]="true" [monitor]="'scroll'">
<div class="weui-form-preview">
  <div class="weui-form-preview__hd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">付款金额</label>
      <em class="weui-form-preview__value">¥{{order?.amount}}</em>
    </div>
  </div>
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">商品</label>
      <span *ngFor="let product of products" class="weui-form-preview__value">{{product.productname}} x{{product?.buycount}}</span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">订单号</label>
      <span class="weui-form-preview__value">{{order?.orderno}}</span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">取货方式</label>
      <span class="weui-form-preview__value">{{order?.deliverytype === 0 ? '门店自提' : '商家配送'}}</span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">{{order?.deliverytype === 0 ? '自提门店' : '配送地址'}}</label>
      <span *ngIf="order?.deliverytype === 0" class="weui-form-preview__value">[{{address?.storename}}]{{address.address}}</span>
      <span *ngIf="order?.deliverytype !== 0" class="weui-form-preview__value"></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">订单状态</label>
      <span class="weui-form-preview__value">
        <span *ngIf="order?.status === 0">待付款</span>
        <span *ngIf="order?.status === 1">待发货</span>
        <span *ngIf="order?.status === 2">待收货</span>
        <span *ngIf="order?.status === 3">已完成</span>
      </span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">时间</label>
      <span *ngFor="let product of products" class="weui-form-preview__value">{{order?.date | date : 'yyyy/MM/dd HH:mm:ss'}}</span>
    </div>
  </div>
  <div class="weui-form-preview__ft">
    <a (click)="back()" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">返回</a>
    <a *ngIf="order?.status === 0" (click)="showPayTypes()" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">去支付</a>
  </div>
</div>
</app-content>
<app-footer></app-footer>

<form style="display: none;" class="weui-cells weui-cells_form" #customForm action="{{formData?.action}}" method="post">
  <div *ngFor="let item of formData | keys" class="weui-cell">
    <div class="weui-cell__bd"><input class="weui-input" name="{{item.key}}" value="{{item.value}}"></div>
  </div>
</form>

<weui-mask backdrop="true" #mask>
  <!--<img *ngIf="qrCodeUrl" [src]="qrCodeUrl">-->
  <ngx-qrcode
    *ngIf="showType === 1"
    [qrc-element-type]="'url'"
    [qrc-value]="qrCodeUrl"
    qrc-class="'qr'"
    qrc-errorCorrectionLevel="L">
  </ngx-qrcode>
  <div *ngIf="showType === 7 && payQrCode" class="qr">
    <img src="{{'/api' + payQrCode}}">
  </div>
</weui-mask>
