<app-header [className]="''" [leftNav]="'back'" [show]="true" [title]="'确认订单'"></app-header>
<app-content [formGroup]="checkoutForm" [paddingHeader]="true" [paddingFooter]="true">
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell_switch">
      <div class="weui-cell__bd">配送方式：{{!checkoutForm.get('deliveryType').value ? '上门自提' : '商家配送'}}</div>
      <div class="weui-cell__ft">
        <input ngModel (ngModelChange)="deliveryTypeChange($event)"
               [ngModelOptions]="{standalone: true}" class="weui-switch" type="checkbox">
      </div>
    </div>
  </div>
  <div *ngIf="checkoutForm.get('deliveryType').value == 1" class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">配送信息<a *ngIf="address" (click)="show('address')" href="javascript:;"
                                       class="right">更换</a></div>
    <div class="weui-panel__bd">
      <div *ngIf="address" class="weui-media-box weui-media-box_text">
        <h4 class="weui-media-box__title">{{address.consignee}}({{address.phone}}) [<a [routerLink]="['/admin/setting/address/edit',address.id]" href="javascript:;">修改</a>]</h4>
        <p class="weui-media-box__desc">{{address.province + address.city + address.district + address.address}}</p>
      </div>
      <div *ngIf="!address" routerLink="/admin/setting/address/edit/0" class="weui-media-box weui-media-box_text">
        <h4 class="weui-media-box__title">您还没有配送信息</h4>
        <p class="weui-media-box__desc">马上添加</p>
      </div>
    </div>
  </div>
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">{{checkoutForm.get('deliveryType').value == 0 ? '自提' : '配送'}}门店
      <a *ngIf="store" (click)="show('store')" href="javascript:;" class="right">更换</a>
    </div>
    <div class="weui-panel__bd">
      <a (click)="show('store')" *ngIf="store" href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img class="weui-media-box__thumb" src="{{'/api' + store.logo}}" alt="">
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{store.storename}}</h4>
          <p class="weui-media-box__desc">{{store.address}}</p>
        </div>
      </a>
      <div *ngIf="!store" class="weui-media-box weui-media-box_text">
        <h4 class="weui-media-box__title"><em>该区域没有服务门店</em></h4>
      </div>
    </div>
  </div>
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">订单信息</div>
    <div class="weui-panel__bd">
      <div *ngFor="let item of order?.goods" class="weui-media-box weui-media-box_text">
        <h4 class="weui-media-box__title">{{item.productname}} <em class="money"><i
          class="rmb">￥</i><span>{{item.price}}</span><i
          class="decimal">.00</i></em><span class="units">/{{item.count}}{{item.unit}}</span> x{{item.product_num}} <em
          class="right money" [innerHTML]="item.price | rmb"></em></h4>
        <p class="weui-media-box__desc">{{item.synopsis}}</p>
      </div>
    </div>
    <div class="weui-panel__ft">
      <a *ngIf="store && checkoutForm.get('deliveryType').value == 1" href="javascript:void(0);" class="weui-cell weui-cell_link">
        <div class="weui-cell__bd">运费</div>
        <span class="weui-cell__ft">
          <em class="money" style="font-size: 0.18rem" [innerHTML]="(store?.deliveryamount ? store?.deliveryamount : 0) | rmb"></em>
        </span>
      </a>
      <a href="javascript:void(0);" class="weui-cell weui-cell_link">
        <div class="weui-cell__bd">共 <em>{{order?.goods.length}}</em> 件商品</div>
        <span class="weui-cell__ft">合计：<em class="money" style="font-size: 0.18rem"
                                           [innerHTML]="(order?.totalAmount + (store?.deliveryamount && checkoutForm.get('deliveryType').value == 1 ? store?.deliveryamount : 0)) | rmb"></em></span>
      </a>
    </div>
  </div>
  <div class="weui-cells">
    <a (click)="showPayTypes()" class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <p>支付方式</p>
      </div>
      <div class="weui-cell__ft">{{payType?.label}}</div>
    </a>
  </div>
  <!--  <label for="weuiAgree" class="weui-agree">-->
  <!--    <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">-->
  <!--    <span class="weui-agree__text">-->
  <!--                阅读并同意<a href="javascript:void(0);">《支付协议》</a>-->
  <!--            </span>-->
  <!--  </label>-->
</app-content>
<div class="btns-group animated" [ngClass]="{'slideInUp':direction === 'down','slideOutDown':direction === 'up'}">
  <div class="total">
    <span class="label">应付合计：</span>
    <em class="amount" [innerHTML]="(order?.totalAmount + (store?.deliveryamount && checkoutForm.get('deliveryType').value == 1 ? store?.deliveryamount : 0)) | rmb"></em>
  </div>
  <a (click)="checkout()" class="btn-primary" [ngClass]="{'disabled':checkoutForm.invalid}">结算</a>
</div>

<form style="display: none;" class="weui-cells weui-cells_form" #customForm action="{{formData?.action}}" method="post">
  <div *ngFor="let item of formData | keys" class="weui-cell">
    <div class="weui-cell__bd"><input class="weui-input" name="{{item.key}}" value="{{item.value}}"></div>
  </div>
</form>

<weui-mask backdrop="true" #mask>
  <!--<img *ngIf="qrCodeUrl" [src]="qrCodeUrl">-->
  <ngx-qrcode
    *ngIf="showType === 1"
    [qrc-element-type]="'url'"
    [qrc-value]="qrCodeUrl"
    qrc-class="'qr'"
    qrc-errorCorrectionLevel="L">
  </ngx-qrcode>
  <div *ngIf="showType === 7 && payQrCode" class="qr">
    <img src="{{'/api' + payQrCode}}">
  </div>
</weui-mask>
