.auth-content {
  background: #f7f7f7;

  .userinfo {
    .userinfo-avatar {
      width: 0.88rem;
      height: 0.88rem;
      margin: 0.35rem auto 0 auto;
      display: block;
      border-radius: 50%;
      border: 3px solid #999;
    }
  }

  .weui-article{
    width: 100%;
    margin: 0;
    padding: 0;
    .weui-cells{
      .weui-cell{
        font-size: 0.18rem;
      }
    }
  }
}

