<app-header [className]="''" [leftNav]="'back'" [show]="true" [title]="'会员中心'"></app-header>
<div *ngIf="type === 'cart'" class="weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">购买成功</h2>
    <p class="weui-msg__desc"><em>{{web_host}}</em> 带给您不一样的购物乐趣～</p>
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a routerLink="/admin/trade/list" class="weui-btn weui-btn_primary">查看购买记录</a>
      <a routerLink="/front/list" class="weui-btn weui-btn_default">返回商品列表</a>
    </p>
  </div>
  <div class="weui-msg__extra-area">
    <div class="weui-footer">
      <p class="weui-footer__links">
        <a href="javascript:void(0);" class="weui-footer__link">{{sysConfig?.saitname}}</a>
      </p>
      <p class="weui-footer__text">Copyright © 2008-2018 {{web_host}}</p>
    </div>
  </div>
</div>

<div *ngIf="type === 'fund'" class="weui-msg">
  <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">充值成功</h2>
    <p class="weui-msg__desc"><em>{{web_host}}</em> 带给您不一样的购物乐趣～</p>
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a routerLink="/admin/flow" class="weui-btn weui-btn_primary">查看充值记录</a>
      <a routerLink="/front/list" class="weui-btn weui-btn_default">去购物</a>
    </p>
  </div>
  <div class="weui-msg__extra-area">
    <div class="weui-footer">
      <p class="weui-footer__links">
        <a href="javascript:void(0);" class="weui-footer__link">{{sysConfig?.saitname}}</a>
      </p>
      <p class="weui-footer__text">Copyright © 2008-2018 {{web_host}}</p>
    </div>
  </div>
</div>
