<app-header [leftNav]="'menu'" [show]="true" [title]="'主页'"></app-header>
<app-content [paddingHeader]="false" [paddingFooter]="true" [monitor]="'scroll'">
  <div class="banner">
    <swiper [config]="config" [index]="1" fxFlex="auto">
          <span class="img-box swiper-slide" *ngFor="let img of imgs">
            <img src="{{img}}">
          </span>
    </swiper>
  </div>
  <div class="menus">
    <div class="weui-grids">
      <div [routerLink]="['/front/list']" [queryParams]="{typeId: category.typeid}" *ngFor="let category of categories" class="weui-grid">
        <div class="weui-grid__icon">
          <img src="{{'/api' + category.imageurl}}">
        </div>
        <p class="weui-grid__label">{{category.typename}}</p>
      </div>
    </div>
  </div>

  <div class="hot weui-panel">
    <div class="weui-panel__hd"><span class="weui-badge">今日热销</span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box">
        <div class="weui-media-box__bd">
          <div class="banner">
            <swiper [config]="albumConfig" [index]="0" fxFlex="auto">
                  <span class="img-box swiper-slide" *ngFor="let slide of hots">
                    <img src="{{'/api' + slide.headimage}}">
                  </span>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="new weui-panel">
    <div class="weui-panel__hd"><span class="weui-badge">新品上架</span></div>
    <div class="weui-panel__bd">
      <div [routerLink]="['/front/item',item.productid]" *ngFor="let item of news" class="weui-media-box">
        <div class="weui-media-box__bd">
          <div class="item-box">
            <div class="item-img">
              <img src="{{'/api' + item.headimage}}">
            </div>
            <div class="item-text">
              <span class="title">{{item.productname}}</span><span class="price">{{item.price}}元</span><span
              class="units">{{item.count}}{{item.unit}}</span>
              <p class="desc">{{item.synopsis.slice(0, 50)}} {{item.synopsis.length > 50 ? '...' : ''}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>

<!--<app-fab>
  <app-fab-trigger>
    <button mat-fab><i class="icon-menu"></i></button>
  </app-fab-trigger>

  <app-fab-actions>
    <button mat-mini-fab><i class="icon-add"></i></button>
    <button mat-mini-fab><i class="icon-edit"></i></button>
    <button mat-mini-fab><i class="icon-search"></i></button>
  </app-fab-actions>
</app-fab>-->

<app-footer></app-footer>
