<app-header className="''" [show]="true" [title]="'分红记录'"></app-header>
<app-content [paddingHeader]="true" [paddingFooter]="true">
  <app-admin-marketing-commission></app-admin-marketing-commission>
  <div class="bonus">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th class="num">购买时间</th>
        <th class="consumption">获得佣金</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="num">2019-10-29 21:00:00</td>
        <td class="consumption">￥15.00</td>
      </tr>
      <tr>
        <td class="num">2019-10-29 21:00:00</td>
        <td class="consumption">￥150.00</td>
      </tr>
      <tr>
        <td class="num">2019-10-29 21:00:00</td>
        <td class="consumption">￥1500.00</td>
      </tr>
      <tr>
        <td class="num">2019-10-29 21:00:00</td>
        <td class="consumption">￥15000.00</td>
      </tr><tr>
        <td class="num">2019-10-29 21:00:00</td>
        <td class="consumption">￥15000.00</td>
      </tr>
      <tr>
        <td class="num">2019-10-29 21:00:00</td>
        <td class="consumption">￥150000.00</td>
      </tr>
      <tr>
        <td class="num">2019-10-29 21:00:00</td>
        <td class="consumption">￥1500000.00</td>
      </tr>

      </tbody>
    </table>
  </div>
</app-content>
<app-footer></app-footer>
