<app-header className="''" [show]="true" [title]="'分红记录'"></app-header>
<app-content [paddingHeader]="true" [paddingFooter]="true">
  <app-admin-marketing-commission></app-admin-marketing-commission>
  <app-msg *ngIf="bonus.length === 0"
           [msg]='{title:"",desc:"您还没有任何分红记录!~～",cancel:"",icon:"/assets/images/icons/empty.png"}'></app-msg>
  <div class="bonus" *ngIf="bonus.length > 0">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th class="num">购买时间</th>
        <th class="consumption">获得佣金</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of bonus">
        <td class="num">{{item.receivedate}}</td>
        <td class="consumption">￥{{item.receiveamount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</app-content>
<app-footer></app-footer>
