.auth-content {
  background: #f7f7f7;
  .userinfo {
    background-image: url("/assets/images/auth/bg.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 1.67rem;
    .userinfo-avatar {
      width: 0.88rem;
      height: 0.88rem;
    }
  }

  .auth {
    position: relative;
    padding: 0 0.15rem;
    background-image: url("/assets/images/auth/bt-bg.png");
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    form {
      display: none;
      &.show {
        display: block;
      }
    }
    .weui-tab {
      display: block;
      .weui-navbar {
        position: absolute;
      }
      .weui-navbar__item {
        background: #fff;
        position: relative;
        &:after {
          display: none;
          content: ' ';
          width: 2em;
          height: 2px;
          left: 50%;
          right: auto;
          margin-left: -1em;
          top: auto;
          bottom: 0;
          position: absolute;
          transform: scale(1);
          background: #F26549;
        }
        &.weui-bar__item_on {
          background: #fff;
          color: #F26549;
          &:after {
            display: block;
          }
        }
      }
    }
  }

  .weui-cells {
    margin-top: 0;
    background: none;
    &:before, &:after {
      display: none;
    }
    .weui-cell {
      border-radius: 0.04rem;
      margin: 0.15rem 0.1rem;
      font-size: 0.14rem;
      line-height: 1;
      padding: 0.1rem 0.15rem;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
      background: #fff;
      &:before, &:after {
        display: none;
      }
      .weui-input {
        line-height: 0.24rem;
        height: 0.24rem;
      }
    }
  }

  .weui-btn-area {
    margin: 0.2rem 0.1rem 0.3rem;
    .weui-btn {
      line-height: 0.24rem;
      font-size: 0.14rem;
      padding: 0.1rem 0.15rem;
      background: #F26341;
      border-radius: 0.04rem;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    }
  }

  .weui-cells__tips {
    font-size: 0.14rem;
    margin-top: 0.1rem;
    line-height: 1;
    padding: 0 0.1rem;
    a {
      color: #F26341;
      text-decoration: underline;
      &.right {
        color: #999;
      }
    }
  }
  .weui-agree {
    font-size: 0.12rem;
    line-height: 1;
    padding: 0.1rem;
  }
}

.sendValidCode {
  display: none;
}

.show {
  .sendValidCode {
    display: block;
  }
}

.weui-agree.weui-cell_warn {
  .weui-agree__text {
    color: #f43530;
  }
}
