.partner{
  position: absolute;
  width: 1.3rem;
  height: 0.46rem;
  background: #642c16;
  text-align: center;
  font-size: 0.17rem;
  margin: 0.94rem 2.3rem;
  border-radius: 50px;
  .equity {
    color: #fff;
    display: block;
    line-height: 0.4rem;
  }
}
.order {
  .weui-panel__hd {
    font-size: 0.16rem;
    line-height: 0.2rem;
    color: #9a7a4c;
    font-weight: normal;
    img,span {
      display: inline-block;
      vertical-align: middle;
      height: 0.2rem;
    }
    img {
      width: 0.2rem;
      margin-right: 0.08rem;
    }
  }
}

.order-status {
  .weui-grid__icon {
    width: 0.28rem;
    height: 0.28rem;
    text-align: center;
    i {
      font-size: 0.18rem;
      line-height: 0.28rem;
    }
  }
  .weui-grid__label {
    color: #999;
    margin-top: 0.05rem;
    font-size: 0.15rem;
  }
}

.weui-cells {
  font-size: 0.14rem;
  margin-top: 0.1rem;
  color: #333 !important;
  .weui-cell {
    padding: 0.15rem;
    .weui-cell__bd{
      span{
        font-size: 0.16rem;
        line-height: 0.2rem;
        color: #9a7a4c;
      }
    }
  }
}

.weui-btn-area {
  padding: 0.25rem 0.15rem 0.3rem;
}
