.user-info {
  position: relative;
  height: 2rem;
  background-image: url("/assets/images/home/homeBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.order {
  .weui-panel__hd {
    font-size: 0.14rem;
    line-height: 0.2rem;
    color: #333;
    img,span {
      display: inline-block;
      vertical-align: middle;
      height: 0.2rem;
    }
    img {
      width: 0.2rem;
      margin-right: 0.08rem;
    }
  }
}

.order-status {
  .weui-grid__icon {
    width: 0.28rem;
    height: 0.28rem;
    text-align: center;
    i {
      font-size: 0.18rem;
      line-height: 0.28rem;
    }
  }
  .weui-grid__label {
    color: #999;
    margin-top: 0.05rem;
    font-size: 0.14rem;
  }
}

.weui-cells {
  font-size: 0.14rem;
  margin-top: 0.1rem;
  color: #333 !important;
  .weui-cell {
    padding: 0.15rem;
  }
}

.weui-btn-area {
  padding: 0.25rem 0.15rem 0.3rem;
}
