<app-header [showMenu]="'left'" [show]="true" [title]="'会员中心'"></app-header>
<app-content>
  <div class="user-info"></div>
  <div class="weui-panel weui-panel_access" style="margin-top: 0">
    <div class="weui-panel__hd">图文组合列表</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box">
        <div class="order-status weui-flex">
          <div class="weui-flex__item">
            <div class="weui-grid__icon">
              <i class="icon-check"></i>
            </div>
            <p class="weui-grid__label">待付款</p>
          </div>
          <div class="weui-flex__item">
            <div class="weui-grid__icon">
              <i class="icon-cross"></i>
            </div>
            <p class="weui-grid__label">待发货</p>
          </div>
          <div class="weui-flex__item">
            <div class="weui-grid__icon">
              <i class="icon-cross"></i>
            </div>
            <p class="weui-grid__label">待收货</p>
          </div>
          <div class="weui-flex__item">
            <div class="weui-grid__icon">
              <i class="icon-cross"></i>
            </div>
            <p class="weui-grid__label">已完成</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="weui-cells">

    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>我的资料</p>
      </div>
      <div class="weui-cell__ft">
        <span style="vertical-align:middle; font-size: 17px;">详细信息</span>
        <span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>
      </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <span style="vertical-align: middle">收货地址</span>
        <span class="weui-badge" style="margin-left: 5px;">8</span>
      </div>
      <div class="weui-cell__ft">广东省广州市...</div>
    </a>
  </div>
</app-content>
<app-footer></app-footer>
