<app-header [leftNav]="'menu'" [show]="true" [title]="'会员中心'"></app-header>
<app-content *ngIf="user" [paddingHeader]="false" [paddingFooter]="true" [monitor]="'scroll'">
  <div class="user-info"></div>
  <div class="order weui-panel weui-panel_access" style="margin-top: 0">
    <div class="weui-panel__hd"><img src="/assets/images/home/orders.png"><span>我的订单</span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box">
        <div class="order-status weui-flex">
          <div [routerLink]="['/admin/order/list']" [queryParams]="{status: 0}" class="weui-flex__item">
            <div class="weui-grid__icon">
              <img src="/assets/images/home/waiting.png">
            </div>
            <p class="weui-grid__label">待付款</p>
          </div>
          <div [routerLink]="['/admin/order/list']" [queryParams]="{status: 1}" class="weui-flex__item">
            <div class="weui-grid__icon">
              <img src="/assets/images/home/shipped.png">
            </div>
            <p class="weui-grid__label">待发货</p>
          </div>
          <div [routerLink]="['/admin/order/list']" [queryParams]="{status: 2}" class="weui-flex__item">
            <div class="weui-grid__icon">
              <img src="/assets/images/home/arrived.png">
            </div>
            <p class="weui-grid__label">待收货</p>
          </div>
          <div [routerLink]="['/admin/order/list']" [queryParams]="{status: 3}" class="weui-flex__item">
            <div class="weui-grid__icon">
              <img src="/assets/images/home/finished.png">
            </div>
            <p class="weui-grid__label">已完成</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="weui-cells">

    <a routerLink="/admin/profile" class="weui-cell weui-cell_access">
      <div class="weui-cell__hd"><img src="/assets/images/home/profile.png" alt=""
                                      style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>我的资料</p>
      </div>
      <div class="weui-cell__ft">
        <span style="vertical-align:middle;">详细信息</span>
        <span class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>
      </div>
    </a>
    <a routerLink="/admin/setting/address" class="weui-cell weui-cell_access">
      <div class="weui-cell__hd"><img src="/assets/images/home/addr.png" alt=""
                                      style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <span style="vertical-align: middle">收货地址</span>
        <span class="weui-badge" style="margin-left: 5px;">8</span>
      </div>
      <div class="weui-cell__ft">广东省广州市...</div>
    </a>
  </div>

  <div class="weui-cells">

    <a routerLink="/admin/reseller" class="weui-cell weui-cell_access">
      <div class="weui-cell__hd"><img src="/assets/images/home/agent.png" alt=""
                                      style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>申请代理</p>
      </div>
      <div class="weui-cell__ft">现在充值<em>￥600</em>元即可成为金牌代理</div>
    </a>
    <a routerLink="/admin/withdraw" class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd"><img src="/assets/images/home/withdraw.png" alt=""
                                      style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <span style="vertical-align: middle">佣金提现</span>
      </div>
      <div class="weui-cell__ft">余额：<em>￥{{user.amountMention}}</em></div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd"><img src="/assets/images/home/red.png" alt=""
                                      style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <span style="vertical-align: middle">佣金记录</span>
      </div>
      <div class="weui-cell__ft">累计赚取佣金：<em>￥{{user.amountBalance}}</em></div>
    </a>
  </div>

  <!--<div class="weui-cells">

    <a routerLink="/admin/seller" class="weui-cell weui-cell_access">
      <div class="weui-cell__hd"><img src="/assets/images/home/seller.png" alt=""
                                      style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>申请入驻</p>
      </div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>-->

  <div class="weui-cells">

    <a routerLink="/admin/share" class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd"><img src="/assets/images/home/code.png" alt=""
                                      style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>我要推广</p>
      </div>
      <div class="weui-cell__ft">您已发展了<em>0</em>名成员</div>
    </a>
  </div>

  <div class="weui-btn-area">
    <a (click)="logout()" class="weui-btn weui-btn_default" href="javascript:">退出登录</a>
  </div>

</app-content>
<app-footer></app-footer>
