<app-header className="''" [show]="true" [title]="'我的客户'"></app-header>
<app-content [paddingHeader]="true" [paddingFooter]="true">
  <app-admin-marketing-commission></app-admin-marketing-commission>
  <app-msg *ngIf="customs.length === 0"
           [msg]='{title:"",desc:"您还没有任何客户!~～",cancel:"",icon:"/assets/images/icons/empty.png"}'></app-msg>
  <weui-navbar>
    <weui-tab heading="{{custom.lowerlevel}}(0)" *ngFor="let custom of customs">
      <div class="custom">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
          <tr>
            <th class="grade">用户名称</th>
            <th class="num">加入时间</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="grade">{{custom.username}}</td>
            <td class="num">{{custom.olddate}}</td>
          </tr>
          <tr>
          </tbody>
        </table>
      </div>
    </weui-tab>
  </weui-navbar>
</app-content>
<app-footer></app-footer>
