/* You can add global styles to this file, and also import other style files */
@import "sass/icon";
@import "app/@theme/theme";
@import "sass/mixin.scss";
@import "sass/swipe";

@import "sass/weui/panel";


html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

em {
  color: #F43530;
  &.money {
    .rmb {
      font-size: 75%;
    }
    .decimal {
      font-size: 75%;
    }
  }
}

.right {
  float: right;
}

body {
  margin: 0;
  font-size: 0.13rem;
}

.icons {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: inherit;
}

.weui-grids, .weui-grid {
  &:before, &:after {
    display: none;
  }
}
