<app-header className="none" [show]="true" [title]="'申请入驻'" [rightNav]="'search'"></app-header>
<div class="content-scrollable padding-header">
  <div [formGroup]="sellerForm" class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">名称</label></div>
      <div class="weui-cell__bd">
        <input formControlName="storeName" class="weui-input" type="text" placeholder="请输入商家名称">
      </div>
      <div class="weui-cell__ft">
        <i class="weui-icon-warn"></i>
      </div>
    </div>
    <a (click)="showPicker()" class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd"><label class="weui-label">行业</label></div>
      <div class="weui-cell__bd">
        <p>{{sellerForm.get('industryId').value ? (sellerForm.get('industryId').value | getLabel : industries) : '请选择行业'}}</p>
      </div>
      <div class="weui-cell__ft">选择</div>
    </a>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">联系人</label></div>
      <div class="weui-cell__bd">
        <input formControlName="contacts" class="weui-input" type="text" placeholder="请输入联系人名称">
      </div>
      <div class="weui-cell__ft">
        <i class="weui-icon-warn"></i>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">联系号码</label></div>
      <div class="weui-cell__bd">
        <input formControlName="phone" class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入您的联系号码">
      </div>
      <div class="weui-cell__ft">
        <i class="weui-icon-warn"></i>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">管理密码</label></div>
      <div class="weui-cell__bd">
        <input formControlName="pwd" class="weui-input" type="password" placeholder="请输入密码">
      </div>
      <div class="weui-cell__ft">
        <i class="weui-icon-warn"></i>
      </div>
    </div>
    <a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__bd">
        <p>商家LOGO</p>
      </div>
      <div class="weui-cell__ft">
        <ul class="weui-uploader__files">
          <li *ngIf="sellerForm.get('logo').valid && uploader.queue.length < 1" class="weui-uploader__file"
              [ngStyle]="{'backgroundImage':'url(api/' + sellerForm.get('logo').value + ')'}"></li>
          <li
            class="weui-uploader__file"
            *ngFor="let item of uploader.queue"
            [weui-thumb]="item._file"
            (click)="onGallery(item)"
            [ngClass]="{ 'weui-uploader__file_status': item.isError }"
          >
            <div class="weui-uploader__file-content" *ngIf="item.isUploading">{{ item.progress }}%</div>
            <div class="weui-uploader__file-content" *ngIf="item.isError">
              <i class="weui-icon-warn"></i>
            </div>
          </li>
          <li *ngIf="uploader?.uploadedCount < 1" class="weui-uploader__input-box">
            <input
              class="weui-uploader__input"
              type="file"
              accept="image/*"
              multiple
              [weui-uploader-file]="uploader"/>
          </li>
        </ul>
      </div>
    </a>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">地址</label></div>
      <div class="weui-cell__bd">
        <input formControlName="address" class="weui-input" type="text" placeholder="请输入地址">
      </div>
      <div class="weui-cell__ft">
        <i class="weui-icon-warn"></i>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <textarea formControlName="synopsis" class="weui-textarea" placeholder="请输入简介" rows="3"></textarea>
        <div class="weui-textarea-counter"><span>0</span>/200</div>
      </div>
    </div>
  </div>
  <weui-gallery [imgs]="img" [(show)]="imgShow" (delete)="onDel($event)"></weui-gallery>
  <app-footer-btn (click)="submit()" [title]="'申请'"></app-footer-btn>
</div>
