<app-header [className]="''" [show]="true" [title]="'所有商品'"></app-header>
<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
  <div class="categories">
    <swiper [config]="config" [index]="typeId" fxFlex="auto">
      <span [routerLink]="['/front/list']" [queryParams]="{typeId: category.typeid}" class="swiper-slide" *ngFor="let category of categories;let i = index"
            [ngClass]="{'selected':category.typeid == typeId}">{{category.typename}}</span>
    </swiper>
  </div>
  <div class="items">
    <div class="weui-grids">
      <div *ngFor="let item of items" [routerLink]="['/front/item',item.productid]" class="weui-grid">
        <div class="item">
          <div class="item-img">
            <div class="img-box">
              <img src="/api{{item.headimage}}">
            </div>
          </div>
          <div class="item-txt">
            <div class="title">{{item.productname}}</div>
            <div class="desc"><em class="money">{{item.price}}<i class="decimal">.00</i></em>元 /<span
              class="units">{{item.count}}{{item.unit}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="black-space"></div>
</weui-infiniteloader>
<app-footer></app-footer>
