<app-header [show]="true" [title]="'草莓奶油蛋糕'" [rightNav]="'share'"></app-header>
<app-content [paddingFooter]="true" [paddingHeader]="false" [monitor]="'scroll'">
  <div class="banner">
    <swiper [config]="config" [index]="1" fxFlex="auto">
          <span class="img-box swiper-slide" *ngFor="let img of imgs">
            <img src="{{img}}">
          </span>
    </swiper>
  </div>
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text">
        <h4 class="weui-media-box__title">草莓奶油蛋糕<span class="right"><del>价格：￥188</del><span>促销价：</span><em
          class="money"><i class="rmb">￥</i>188<i class="decimal">.00</i></em></span></h4>
        <p class="weui-media-box__desc">简单的搭配水果装扮，一改传统的蛋糕的华丽的外观，但却充满温馨的味道。</p>
      </div>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          磅数
        </div>
        <div class="weui-media-box__bd">
          <div class="pounds">
            <div class="weui-grids">
              <div class="weui-grid">
                <span class="weui-grid__label selected">1磅</span>
              </div>
              <div class="weui-grid">
                <span class="weui-grid__label">2磅</span>
              </div>
              <div class="weui-grid">
                <span class="weui-grid__label">3磅</span>
              </div>
              <div class="weui-grid">
                <span class="weui-grid__label">4磅</span>
              </div>
              <div class="weui-grid">
                <span class="weui-grid__label">5磅</span>
              </div>
              <div class="weui-grid">
                <span class="weui-grid__label">6磅</span>
              </div>
              <div class="weui-grid">
                <span class="weui-grid__label">7磅</span>
              </div>
              <div class="weui-grid">
                <span class="weui-grid__label">8磅</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          重量
        </div>
        <div class="weui-media-box__bd">
          <p class="weui-media-box__desc">≈450g</p>
        </div>
      </div>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          体积
        </div>
        <div class="weui-media-box__bd">
          <p class="weui-media-box__desc">约13x21x8cm</p>
        </div>
      </div>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          需提前
        </div>
        <div class="weui-media-box__bd">
          <p class="weui-media-box__desc">3~5小时预定，适合<em>5-7</em>人食用</p>
        </div>
      </div>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd" style="align-self: center">
          数量
        </div>
        <div class="weui-media-box__bd">
          <weui-stepper [(ngModel)]="qty" [min]="1" [max]="10"></weui-stepper>
        </div>
      </div>
    </div>
  </div>
</app-content>
<app-footer></app-footer>
