<app-header *ngIf="product" [show]="true" [title]="product.productname" [rightNav]="'share'"></app-header>
<app-content *ngIf="product" [paddingFooter]="true" [paddingHeader]="false" [monitor]="'scroll'">
  <div class="banner">
    <swiper [config]="config" [index]="1" fxFlex="auto">
          <span class="img-box swiper-slide" *ngFor="let img of imgs">
            <img src="/api{{product.headimage}}">
          </span>
    </swiper>
  </div>
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text">
        <h4 class="weui-media-box__title">{{product.productname}}<span class="right"><del>价格：￥{{spec.originalprice}}</del><span>计划价格：</span><em
          class="money" [innerHtml]="spec.price | rmb"></em></span></h4>
        <p class="weui-media-box__desc">{{product.synopsis}}</p>
      </div>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          规格
        </div>
        <div class="weui-media-box__bd">
          <div class="pounds">
            <div class="weui-grids">
              <div *ngFor="let item of specs" class="weui-grid">
                <span (click)="select(item)" class="weui-grid__label"
                      [ngClass]="{'selected':item.id === spec.id}">{{item.count}}{{item.unit}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          重量
        </div>
        <div class="weui-media-box__bd">
          <p class="weui-media-box__desc">≈{{spec.count * 100}}g</p>
        </div>
      </div>
      <!--<div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          体积
        </div>
        <div class="weui-media-box__bd">
          <p class="weui-media-box__desc">≈{{spec.count}}{{spec.unit}}</p>
        </div>
      </div>-->
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          温馨提示
        </div>
        <div class="weui-media-box__bd">
          <p class="weui-media-box__desc">需要特别嘱咐的请添加备注信息！</p>
        </div>
      </div>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd" style="align-self: center">
          数量
        </div>
        <div class="weui-media-box__bd">
          <weui-stepper [(ngModel)]="qty" [min]="1" [max]="10"></weui-stepper>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-panel">
    <div class="weui-panel__hd">详情</div>
    <div class="weui-panel__bd">
      <div class="article weui-media-box weui-media-box_text" [innerHTML]="product.detail | formatSrc"></div>
    </div>
  </div>
</app-content>
<div class="btns-group animated" [ngClass]="{'slideOutDown':direction === 'down','slideInUp':direction === 'up'}">
  <a (click)="addCart()" class="btn-secondary">加入购物车</a><a (click)="checkout()" class="btn-primary">立即购买</a>
</div>
<app-footer></app-footer>
